[user]
	email = [REDACTED_EMAIL]
	name = Tom Horsey
[color]
	ui = auto
[core]
	pager = less -FMRiX
	editor = nvim
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order

[commit]
        template = ~/.gitmessage
